.courses-list {
    width: 1777px;
    height: 419px;
    position: absolute; /* Added position to use top and left */
    top: -2470px;
    left: -5315px;
    gap: 0px;
    opacity: 0;
  
    display: flex;
    flex-direction: column;
    gap: 16px; /* Added gap between course cards */
  
    font-family: 'Open Sans', sans-serif;
    font-size: 300px;
    font-weight: 400;
    line-height: 32px;
    text-align: center;
  }